<app-secondary-header></app-secondary-header>
<section id="registration">
	<div class="container">
		<div class="d-flex justify-content-center align-items-center flex-wrap">
			<a href="tel:+79051683935" class="contact-item">
				<i class="fa fa-phone" aria-hidden="true"></i>
				+79051683935<br>
				WhatsApp | Viber
			</a>
			<a href="mailto:admin@happyticket.net" class="contact-item">
				<i class="fa fa-envelope-open-o" aria-hidden="true"></i>
				admin@happyticket.net
			</a>
			<a href="https://vk.com/public186412007" class="contact-item">
				<i class="fa fa-vk" aria-hidden="true"></i>
				Happy Ticket
			</a>
			<a href="https://t.me/HappyTicke" class="contact-item">
				<i class="fa fa-telegram" aria-hidden="true"></i>
				Happy Ticket
			</a>
			<a href="skype:zevsddm1" class="contact-item">
				<i class="fa fa-skype" aria-hidden="true"></i>
				zevsddm1
			</a>
		</div>
	</div>
</section>
<app-footer></app-footer>
<script>

</script>