<app-dash-header></app-dash-header>
<div class="d-flex align-items-stretch">
    <app-dash-sidebar></app-dash-sidebar>
    <div class="content p-4">


        <div class="card mb-4">
            <div class="card-body d-flex justily-content-between align-items-center">
                <img src="./../../assets/media/images/banners/ll728x90.gif" class="img-fluid">
                <code>
                    &lt;a href="https://live-line.biz/registration?sponsor={{userName}}" target="_blank"&gt;&lt;img src="https://live-line.biz/assets/media/images/banners/ll728x90.gif"&gt;&lt;/a&gt;
                </code>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body d-md-flex justily-content-between align-items-center">
                <img src="./../../assets/media/images/banners/ll468х60.gif" class="img-fluid">
                <code>
                    &lt;a href="https://live-line.biz/registration?sponsor={{userName}}" target="_blank"&gt;&lt;img src="https://live-line.biz/assets/media/images/banners/ll468x60.gif"&gt;&lt;/a&gt;
                </code>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body d-md-flex justily-content-between align-items-center">
                <img src="./../../assets/media/images/banners/ll125х125.gif" class="img-fluid">
                <code>
                    &lt;a href="https://live-line.biz/registration?sponsor={{userName}}" target="_blank"&gt;&lt;img src="https://live-line.biz/assets/media/images/banners/ll125x125.gif"&gt;&lt;/a&gt;
                </code>
            </div>
        </div>


    </div>
</div>