<app-header></app-header>
<section id="steps">
	<div class="container">
		<h3 class="section-title text-center">С чего начать? <br><b>Всё просто!</b></h3>
		<div class="step-item">
			<div class="d-flex justify-content-between align-items-center">
				<div class="step-description">
					<div class="title"><span>1</span>Регистрируйся!</div>
					<div class="description">Абсолютно бесплатная регистрация в личном кабинете – это первый шаг на пути
						к Вашему счастливому билету. Вход в программу доступен с любого стола. Начни уже сегодня!</div>
				</div>
				<img src="./../../assets/media/images/steps/registration.png" alt="" class="img-fluid">
			</div>
		</div>
		<div class="step-item">
			<div class="d-flex justify-content-between align-items-center">
				<div class="step-description">
					<div class="title"><span>2</span>Соверши первый платёж</div>
					<div class="description">Покупка 2х мест сразу по доступной цене. У нас есть спонсорская привязка и
						хорошие реферальные, много переливов и помогающие продвижению технические аккаунты, обрезающие
						"юбку". Оплату можно совершить через Perfect и Payeer.</div>
				</div>
				<img src="./../../assets/media/images/steps/pay.png" alt="" class="img-fluid">
			</div>
		</div>
		<div class="step-item">
			<div class="d-flex justify-content-between align-items-center">
				<div class="step-description">
					<div class="title"><span>3</span>Приглашай друзей</div>
					<div class="description">Очень заманчивые реферальные выплаты не оставят равнодушными никого!
						Приглашай друзей и делись своим успехом. Помни! Каждый приглашенный приносит тебе 55 долларов
					</div>
				</div>
				<img src="./../../assets/media/images/steps/invite.png" alt="" class="img-fluid">
			</div>
		</div>
		<div class="step-item">
			<div class="d-flex justify-content-between align-items-center">
				<div class="step-description">
					<div class="title"><span>4</span>Получай деньги!</div>
					<div class="description">А тебе не помешают 4395 долларов с каждого места? Получай свои выплаты и
						будь счастлив с Happy Ticket!<br>
						Твой счастливый билет в новую жизнь! </div>
				</div>
				<img src="./../../assets/media/images/steps/get_money.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>

<section id="marketing" class="container">
	<h3 class="section-title text-center mb-4">Маркетинг</h3>
	<div class="marketing-items mb-4">
		<div><img src="../../../assets/media/images/slides/1.png" alt="" class="img-fluid"></div>
		<div><img src="../../../assets/media/images/slides/2.png" alt="" class="img-fluid"></div>
		<div><img src="../../../assets/media/images/slides/3.png" alt="" class="img-fluid"></div>
		<div><img src="../../../assets/media/images/slides/4.png" alt="" class="img-fluid"></div>
		<div><img src="../../../assets/media/images/slides/5.png" alt="" class="img-fluid"></div>
		<div><img src="../../../assets/media/images/slides/6.png" alt="" class="img-fluid"></div>
		<div><img src="../../../assets/media/images/slides/7.png" alt="" class="img-fluid"></div>
		<div><img src="../../../assets/media/images/slides/8.png" alt="" class="img-fluid"></div>
	</div>
	<h3 class="text-center section-title">
		ВХОД С ЛЮБОГО СТОЛА!!!<br>
		СПОНСОРСКАЯ ПРИВЯЗКА. НЕТ КВАЛИФИКАЦИИ.
	</h3>
	<div class="row">
		<div class="col-md-6 col-12">
			<div class="marketing-text-item">
				<h5>1. ПЕРВЫЙ СТОЛ</h5>
				<p><strong>ТРЕХМЕСТНЫЙ.</strong></p>
				<p><strong>ВХОД - 45</strong></p>
				<p><strong>ПРИ ОПЛАТЕ БИЗНЕС МЕСТА В ПЕРВОМ СТОЛЕ, АВТОМАТИЧЕСКИ СОЗДАЕТСЯ ДО-ПОЛНИТЕЛЬНОЕ (ВТОРОЕ) МЕСТО, ЗА КОТОРОЕ ВЫ ПОЛУЧАЕТЕ РЕФЕРАЛЬНЫЕ ВОЗНАГРАЖДЕНИЯ ПО МЕРЕ ПРОХОЖДЕНИЯ ЭТОГО МЕСТА ПО МАРКЕТИНГУ.</strong></p>
				<p><strong>СТОИМОСТЬ КАЖДОГО МЕСТА  - 20 ;</strong></p>
				<p><strong>С КАЖДОГО, ВОШЕДШЕГО В СТОЛ, РЕФЕРАЛЬНЫЕ СПОНСОРУ - 5 ;</strong></p>
				<p><strong>ДЛЯ ПОКУПКИ МЕСТА В СТОЛЕ 2 - 40.</strong></p>
			</div>
			<div class="marketing-text-item">
				<h5>2. ВТОРОЙ СТОЛ</h5>
				<p><strong>7- МЕСТНЫЙ.</strong></p>
				<p><strong>ВХОД- 40 </strong></p>
				<p><strong>С КАЖДОГО, ВОШЕДШЕГО В СТОЛ, РЕФЕРАЛЬНЫЕ СПОНСОРУ - 5 ;</strong></p>
				<p><strong>С ПАРТНЕРА (МЕСТО 4) - 1 ТЕХ. АКК. (20 ДОЛЛ) В ПЕРВЫЙ СТОЛ;</strong></p>
				<p><strong>ПРИ ЗАКРЫТИИ СТОЛА ВЫВОД - 20;</strong></p>
				<p><strong>ДЛЯ ПОКУПКИ МЕСТА В СТОЛЕ 3 - 100.</strong></p>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<img src="./../../assets/media/images/map.jpg" alt="" class="img-fluid">
		</div>
		<div class="col-md-6 col-12">
			<div class="marketing-text-item">
				<h5>3. ТРЕТИЙ СТОЛ</h5>
				<p><strong>7 - МЕСТНЫЙ.</strong></p>
				<p><strong>ВХОД - 100;</strong></p>
				<p><strong>С КАЖДОГО, ВОШЕДШЕГО В СТОЛ, РЕФЕРАЛЬНЫЕ СПОНСОРУ - 5 ;</strong></p>
				<p><strong>С ПАРТНЕРА (МЕСТО 4) - 3 ТЕХ. АКК. (60 ДОЛЛ) В ПЕРВЫЙ СТОЛ;</strong></p>
				<p><strong>С ПАРТНЕРА (МЕСТО 5) - 2 ТЕХ. АКК.(40 ДОЛЛ) В ПЕРВЫЙ СТОЛ;</strong></p>
				<p><strong>ПРИ ЗАКРЫТИИ СТОЛА ВЫВОД - 75;</strong></p>
				<p><strong>НА РАЗВИТИЕ ПРОЕКТА - 5;</strong></p>
				<p><strong>ДЛЯ ПОКУПКИ МЕСТА В СТОЛЕ 4 - 200.</strong></p>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="marketing-text-item">
				<h5>4. ЧЕТВЁРТЫЙ СТОЛ</h5>
				<p><strong>7 - МЕСТНЫЙ.</strong></p>
				<p><strong>ВХОД - 200;</strong></p>
				<p><strong>С КАЖДОГО, ВОШЕДШЕГО В СТОЛ, РЕФЕРАЛЬНЫЕ СПОНСОРУ - 20;</strong></p>
				<p><strong>С ПАРТНЕРА (МЕСТО 4) - 5 ТЕХ. АКК. (100 ДОЛЛ) В ПЕРВЫЙ СТОЛ;</strong></p>
				<p><strong>ПРИ ЗАКРЫТИИ СТОЛА ВЫВОД - 100;</strong></p>
				<p><strong>НА РАЗВИТИЕ ПРОЕКТА - 20;</strong></p>
				<p><strong>ДЛЯ ПОКУПКИ МЕСТА В СТОЛЕ 5 - 500.</strong></p>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="marketing-text-item">
				<h5>5. ПЯТЫЙ СТОЛ</h5>
				<p><strong>7 - МЕСТНЫЙ.</strong></p>
				<p><strong>ВХОД - 500;</strong></p>
				<p><strong>С КАЖДОГО, ВОШЕДШЕГО В СТОЛ, РЕФЕРАЛЬНЫЕ СПОНСОРУ - 20;</strong></p>
				<p><strong>С ПАРТНЕРА (МЕСТО 4) - 10 ТЕХ. АКК. (200 ДОЛЛ) В ПЕРВЫЙ СТОЛ;</strong></p>
				<p><strong>ПРИ ЗАКРЫТИИ СТОЛА ВЫВОД - 200;</strong></p>
				<p><strong>НА РАЗВИТИЕ ПРОЕКТА - 20;</strong></p>
				<p><strong>ДЛЯ ПОКУПКИ МЕСТА В СТОЛЕ 6 - 1500.</strong></p>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="marketing-text-item">
				<h5>6. ШЕСТОЙ СТОЛ</h5>
				<p><strong>7 - МЕСТНЫЙ.</strong></p>
				<p><strong>ВХОД - 1500;</strong></p>
				<p><strong>НЕТ РЕФЕРАЛЬНЫХ!!!</strong></p>
				<p><strong>С ПАРТНЕРА (МЕСТО 4) - 20 ТЕХ. АКК. (400 ДОЛЛ) В ПЕРВЫЙ СТОЛ;</strong></p>
				<p><strong>ПРИ ЗАКРЫТИИ СТОЛА ВЫВОД - 4000;</strong></p>
				<p><strong>НА РАЗВИТИЕ ПРОЕКТА - 100;</strong></p>
				<p><strong>РЕИНВЕСТ В 6 СТОЛ - 1500 .</strong></p>
			</div>
		</div>
	</div>
	<div class="text-center text-red">
		<p><strong>при прохождении шести столов Ваш заработок составит с одного акк. - 4395 долл., </strong></p>
		<p><strong>реферальные без приглашений ( со своего доп. акк.) -  50 долл</strong></p>
		<p><strong>с кажного приглашенного  реферальные -55 долл</strong></p>
		<p><strong>с каждого аккаунта на продвижение структуры в процессе прохождения маркетинга образуется 41 тех. акк., которые автоматически идут в стол №1 и после закрытия стола СГОРАЮТ, при этом происходит обрезание «юбки»!</strong></p>
	</div>
</section>
<app-footer></app-footer>